/* ************************************************ */
/* BELOW 1344PX (smaller desktops) 1344px/16px */
/* ************************************************ */
@media (max-width: 84em) {
    .hero {
    max-width: 120rem;
    }

    .heading-primary {
    font-size: 4.4rem;
    }
}

/* ************************************************ */
/* BELOW 1200PX (landscape Tablets) 1200px/16px */
/* ************************************************ */
@media (max-width: 75em) {
    html {
    /* 9px / 16px */
    font-size: 56.25%;
    }

    .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
    }
}

/* ************************************************ */
/* BELOW 944PX ( Tablets) 944px/16px */
/* ************************************************ */
@media (max-width: 59em) {
    html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
    }

    .hero {
    grid-template-columns: 1fr !important;
    padding: 0 8rem;
    gap: 6.4rem;

    text-align: center;
    }

    .hero-text-box,
    .hero-img-box {
    text-align: center;
    }

    .hero-img {
    width: 60%;
    }

    /* MOBILE NAVIGATION */
    .navbar input[type="checkbox"],
    .navbar .hamburger-lines {
        display: block !important;
    }
    .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block !important;
    height: 23px !important;
    width: 35px !important;
    position: absolute !important;
    top: 17px !important;
    left: 20px !important;
    z-index: 2 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
  }

  .navbar-container .hamburger-lines .line {
    display: block !important;
    height: 4px !important;
    width: 100% !important;
    border-radius: 10px !important;
    background: #333 !important;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px !important;
    margin-top: 7rem;
    background: #F0EBE3;
    backdrop-filter:blur(5px);
    max-height: 100vh ;
    min-width: 30rem ;
    transform: translate(-150%) ;
    display: flex ;
    flex-direction: column ;
    margin-left: -30px !important;
    padding-left: 50px !important;
    transition: transform 0.5s ease-in-out ;
    box-shadow: 5px 0px 10px 0px #aaa ;
    justify-content: center;
    /* align-items: center; */
  }

  .navbar-container .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.9rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem !important;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

    

}

/* ************************************************ */
/* BELOW 704PX (smaller Tablets) 704px/16px */
/* ************************************************ */
@media (max-width: 44em) {
    .cta-paragraph{
        padding: 10rem 3rem !important;
    }
}

/* ************************************************ */
/* BELOW 544px ( Phones) 544px/16px */
/* ************************************************ */
@media (max-width: 34em) {
    .grid {
    row-gap: 4.8rem;
    }



    .hero {
    padding: 0 3.2rem;
    }

    .section-hero {
    padding: 2.4rem 0 6.4rem 0;
    }

    .btn,
    .btn:link,
    .btn:visited {
    padding: 2.4rem 1.6rem;
    }

    .hero-img {
    width: 80%;
    }
    .logo nav-img {
    height: 1.2rem;
    }

    .grid--footer{
      grid-template-columns:minmax(min-content, auto) !important;
      /* grid-template-columns: repeat(6, 1fr) !important; */
    }
}