/***** header ****************************/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 9.6rem;
    padding: 0 4.8rem;
    position:relative;
    
    background-color: #F0EBE3;
    background-color: rgba(125, 157, 156,0.35)
}

.logo {
    height: 9rem;
    border-radius: 5%;
}

.main-nav-list{
    list-style: none;
    display: flex;
    justify-items: space-around;

    
}

.main-nav-link{
    margin: 0 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;

}

.main-nav-link:hover,
.main-nav-link:active{
    color: #819a99;
}
/* hero section */
.section-hero{
    background-color: #F0EBE3;
    height: 89vh;
    background-color: rgba(125, 157, 156,0.35)
}

.hero{
    max-width: 130rem;
    margin: 0 auto;
    padding: 3.2rem;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 9rem;
    align-items: center;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.hero-img{
    width: 100%;
    height: 85%;
}

/********************************************************************
******************** section compare */

/* .section-compare{

} */
.compare{
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    gap: 3rem;
    align-items: center;
    height: 75vh;
}

.compare-img-box{
    height: 100%;
    background: linear-gradient(
    to right bottom,
    rgba(125, 157, 156, 0.35),
    rgba(125, 157, 156, 0.35)
    ),
    url("../imgs/pexels-alexander-suhorucov-6457491.jpg");
    background-size: cover;
    background-position:center;
}

/* compare-table */
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: #7D9D9C;
    color: #fff;
    padding: 1.2rem 0;
    text-align: left;
    font-size: 2rem;
}
td{
    font-size: 1.5rem;
    padding: 1rem 0;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #F0EBE3;}

/**********************************************************************
****************** TERSTIMONIALS */
.section-testimonial{
    /* background-color: rgb(125, 157, 156); */
    margin-top: 10rem;
}

.testimonials{
    margin: 15rem auto 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr ));
    grid-gap:2rem;
    margin-top: 5rem;
}

.testimonial-heading span{
    color: #7D9D9C;
}

.testimonials .card{
    background: rgba(125, 157, 156,0.35);
    position: relative;
    /* width: 35rem; */
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    border-radius: 2rem;
}

.testimonials .card:hover{
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .5);
}

.testimonials .card .layer{
    position: absolute;
    top:calc(100% - 2px) ;
    width: 100%;
    height: 100%; 
    left: 0 ;
    background: linear-gradient(#F0EBE3, rgb(125, 157, 156));
    z-index: 1;
    transition: .5s;
}
.testimonials .card:hover .layer{
    top: 0;
}

.testimonials .card .content{
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.testimonials .card .content p{
    font-size: 1.8rem;
    line-height: 2.4rem;
    position: relative;
    margin-bottom: 2rem;
}

.testimonials .card .content img{
    width: 10rem;
    height: 10rem;
    margin: 3rem auto;
    border-radius: 50%;
    overflow: hidden;
    margin-top: auto;



}

.testimonials .card:hover .content img{
    border: .2rem solid #333;
}
.testimonials .card .content details p{
    font-size: 1.8rem;
}
.testimonials .card .content details p span{
    color: #F0EBE3;
    font-size: 1.4rem;
    transition: 0.5s;
}

.testimonials .card:hover .content details p span{
    color: #F0EBE3;
}

/********************************************************************
********************Contact us */

/*********************************************************************
*************************** Footer section */
.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
    background-color: rgba(125, 157, 156,0.35);
}

.grid--footer {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo{
    display: block;
    margin-bottom: 3.2rem;
}

.social-links{
    display: flex;
    list-style: none;
    gap: 2.4rem;
}

.social-icon{
    height: 2.4rem;
    width: 2.4rem;
}

.copyright{
font-size: 1.4rem;
line-height: 1.6;
margin-top: auto;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
    text-transform: capitalize;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
}

.contacts p:first-child {
    margin-bottom: 2.4rem;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.36s;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}